.card {
  border-radius: 40px;
  /*background-color: #0096FF;*/
}

nav {
  background-color: #0096FF;
}

.background {
  background-color: #f5f5f5;
  /*background-image: linear-gradient(rgba(0, 150, 255,0.5), rgba(137, 207, 240,0.5));*/
                  /*url("back.jpg");*/
}

body {
  background-color: #f5f5f5;
  /*background-image: linear-gradient(rgba(0, 150, 255,0.5), rgba(137, 207, 240,0.5));*/
}
